section{
    position: relative;
    /* min-height: 100vh; */
    z-index: 0;
}

.inner {
    max-width: 1640px;
    margin: auto;
    position: relative;
}
h2.tit {
    font-size: clamp(32px,5vw ,100px);
    font-weight: 800;
    margin-top: clamp(18px,2.4vw,30px);
}
p.txt {
    font-size: 17px;
    max-width: 470px;
    margin-top: 30px;
}
.tit-wrap {
    position: relative;
}
a.btn {
    display: inline-flex;
    width: clamp(116px,14vw,150px);
    height: clamp(42px,4.2vw,47px);
    justify-content: center;
    align-items: center;
    font-size: clamp(16px,1.9vw,22px);
    font-weight: 900;
    background-color: #601086;
    color:#fff;
    text-transform: uppercase;
    border-radius: 47px;
}